@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: hsl(217, 54%, 11%);
}

.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    max-width: 90%;
    width: 22rem;
}

.image--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.image--container img {
    margin-top: 1rem;
    max-width: 85%;
    border-radius: 5%;
}

.image--container:hover .hover--image {
    display: block;
    cursor: pointer;
}

.hover--image {
    background-color: hsla(178, 100%, 50%, 0.5);
    height: 95%;
    width: 85%;
    border-radius: 5%;
    position: absolute;
    top: 1rem;
    display: none;
}

.hover--image img {
    width: 10%;
    height: 10%;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

.text--container {
    max-width: 95%;
    margin-top: 1.7rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.text--heading p {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.4rem;
}

.text--container > p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-right: 0.8rem;
    text-align: left;
    line-height: 1.4rem;
}

.numbers--container {
    max-width: 95%;
    display: flex;
    align-items: center;
}

.eth {
    color: hsl(178, 100%, 50%);
    padding-left: 0.4rem;
    padding-right: 6rem;
}

.days {
    color: hsl(215, 51%, 70%);
    padding-left: 0.3rem;
}

hr {
    color: hsl(215, 32%, 27%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.creator--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.creator--container img {
    height: 3rem;
    border: solid white;
    border-radius: 50%;
}

.creator--container p {
    margin-left: 1rem;
    color: hsl(215, 51%, 70%);
}

.creator--container span {
    color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.hover:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
