@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: hsl(217, 54%, 11%);
}

p {
    font-size: 18px;
}

.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    max-width: 90%;
    width: 22rem;
}

.image--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.image--container img {
    max-width: 85%;
    width: 20rem;
    border-radius: 5%;
}

.text--container {
    max-width: 95%;
    margin-top: 1.7rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.text--heading p {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.text--container > p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-right: 0.8rem;
    text-align: left;
    line-height: 1.4rem;
}

.numbers--container {
    max-width: 95%;
    display: flex;
    align-items: center;
}

.eth {
    color: hsl(178, 100%, 50%);
    padding-left: 0.4rem;
    padding-right: 6rem;
}

.days {
    color: hsl(215, 51%, 70%);
    padding-left: 0.3rem;
}

hr {
    color: hsl(215, 32%, 27%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
