@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: hsl(217, 54%, 11%);
}

p {
    font-size: 18px;
}

.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    max-width: 75%;
    width: 22rem;
}

.image--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.image--container img {
    max-width: 85%;
    width: 20rem;
    border-radius: 5%;
}

.text--container {
    margin-top: 1.7rem;
    margin-left: 1.5rem;
}

.text--heading p {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
